<?xml version="1.0"?>
<MinifierSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AddReferencesToStartupProject>true</AddReferencesToStartupProject>
  <SkipDialog>true</SkipDialog>
  <StartupProjectsSettings>
    <StartupProjectSettings>
      <Id>0632d297-c2ff-48d8-8ce9-b29f134ea280</Id>
      <Name>AdvancedAnimation_Blit</Name>
      <Minify>true</Minify>
    </StartupProjectSettings>
  </StartupProjectsSettings>
</MinifierSettings>